<header>
    <h3>Star Wars Characters</h3>
</header>
<content>
    <div class="card-container">
        <div class="card" *ngFor="let character of characters">
            <div class="image">
                <img #img [src]="character?.image_url"
                    (error)="img.src='https://placehold.co/600x400?text=Image+not+Found'">
            </div>
            <div class="details">
                <div>Name: <span>{{character?.name}}</span></div>
                <div>Height(cm): <span>{{character?.height}}</span></div>
                <div>Weight(Pound): <span>{{character?.mass}}</span></div>
                <div>Hair color: <span>{{character?.hair_color}}</span></div>
                <div>Skin color: <span>{{character?.skin_color}}</span></div>
                <div>Birth year: <span>{{character.birth_year}}</span></div>
                <div>Gender: <span>{{character.gender}}</span></div>
            </div>
        </div>
    </div>
</content>
